.order-history-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    @media (max-width: 1230px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) { 
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 490px) { 
        grid-template-columns: repeat(1, 1fr);
    }
}

.order-item {
    display: flex;
    flex-direction: column;
}

.order-history-header {
    padding-bottom: 25px;
}