<div class="order-history-header">
  <h1 style="font-size: 2.5em; font-weight: bold">Active Orders</h1>
  <p style="font-size: 1.5em">Here you can view all your active orders.</p>
</div>

<div class="order-history-grid">
  <div *ngFor="let order of orders" class="order-item">
    <div class="card">
      <div class="card-body">
        <p style="font-weight: bold; font-size: 1.2em">
          Order Number: {{ order.orderNumber }}
        </p>
        <p style="font-weight: bold; font-size: 1.2em">
          Date: {{ order.timestamp | date }}
        </p>
        <div>
          <p style="font-weight: bold; font-size: 1.2em">Products:</p>
          <ul>
            <li *ngFor="let product of getProductList(order)">
              {{ product.name }} - Quantity: {{ product.quantity }}
            </li>
          </ul>
        </div>
        <button
          (click)="closeOrder(order.id)"
          style="font-size: 1.2em"
          class="btn btn-primary"
        >
          Complete Order
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Order Details Modal -->
<ng-template #orderDetailsModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" style="font-size: 1.5em">Order Details</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body" *ngIf="selectedOrder" style="font-size: 1.2em">
    <p><strong>Order Number:</strong> {{ selectedOrder.orderNumber }}</p>
    <p>
      <strong>Date:</strong> {{ selectedOrder.timestamp | date : "medium" }}
    </p>
    <p>
      <strong>Total Amount:</strong> {{ selectedOrder.totalAmount | currency }}
    </p>
    <p>
      <strong>Completed:</strong> {{ selectedOrder.completed ? "Yes" : "No" }}
    </p>
    <div>
      <strong>Products:</strong>
      <ul>
        <li *ngFor="let product of getProductList(selectedOrder)">
          {{ product.name }} - Quantity: {{ product.quantity }}
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close('Close')"
      style="font-size: 1.2em"
    >
      Close
    </button>
  </div>
</ng-template>
